nav {
	grid-area: nav;
}

nav > button {
	display: block;
	width: 100%;
	margin: 0;
	background-color: Transparent;
	border: none;
	font-size: 1.2rem;
	color: #000000;
	outline: none;
	cursor: pointer;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	padding-right: 3rem;
	text-align: right;
}

